<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            TRAC Line
            <ion-text *ngIf="line">: {{ line.lineId }}</ion-text>
            <ion-text *ngIf="!line && requestedId">: {{ requestedId }}</ion-text>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="line">
        <ion-row>
            <ion-col size-md="4" size="12">
                <ion-card>
                    <ion-card-header>
                        Line Ranking as of {{ line.rank.date | date }}
                    </ion-card-header>
                    <ion-card-content>
                        <h1 [style.color]="rankingColour(line.rank.rank)">{{ line.rank.rank }} / 10</h1>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size-md="8" size="12">
                <ion-card *ngIf="lineRankings">
                    <app-line-chart title="Rankings" [data]="sampleValues(lineRankings)" [min]=0 [max]=10 [labels]="sampleDates(lineRankings)"></app-line-chart>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-md="4" size="12">
                <ion-card *ngIf="accelerometerDataX">
                    <app-line-chart title="Accelerometer X" [data]="sampleValues(accelerometerDataX)" [min]=0 [max]=0.5 [labels]="sampleTimes(accelerometerDataX)" [flip]=true></app-line-chart>
                </ion-card>
                <ion-card class="feed-card">
                    <ion-card-header>
                        Accelerometer X
                    </ion-card-header>
                    <ion-card-content>
                        <p *ngFor="let sample of accelerometerDataXBacklog"><ion-text *ngIf="sample">{{ sample.date | date:'medium' }}: <ion-text color="primary">{{ sample.value | number:'1.3-3' }} g</ion-text></ion-text></p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size-md="4" size="12">
                <ion-card *ngIf="accelerometerDataY">
                    <app-line-chart title="Accelerometer Y" [data]="sampleValues(accelerometerDataY)" [min]=0 [max]=0.5 [labels]="sampleTimes(accelerometerDataY)" [flip]=true></app-line-chart>
                </ion-card>
                <ion-card class="feed-card">
                    <ion-card-header>
                        Accelerometer Y
                    </ion-card-header>
                    <ion-card-content>
                        <p *ngFor="let sample of accelerometerDataYBacklog"><ion-text *ngIf="sample">{{ sample.date | date:'medium' }}: <ion-text color="primary">{{ sample.value | number:'1.3-3' }} g</ion-text></ion-text></p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size-md="4" size="12">
                <ion-card *ngIf="accelerometerDataZ">
                    <app-line-chart title="Accelerometer Z" [data]="sampleValues(accelerometerDataZ)" [min]=0 [max]=0.5 [labels]="sampleTimes(accelerometerDataZ)" [flip]=true></app-line-chart>
                </ion-card>
                <ion-card class="feed-card">
                    <ion-card-header>
                        Accelerometer Z
                    </ion-card-header>
                    <ion-card-content>
                        <p *ngFor="let sample of accelerometerDataZBacklog"><ion-text *ngIf="sample">{{ sample.date | date:'medium' }}: <ion-text color="primary">{{ sample.value | number:'1.3-3' }} g</ion-text></ion-text></p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
