<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title>TRAC Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let line of lines" size-md="4" size="12">
                <ion-card>
                    <ion-card-header>
                        Line {{ line.lineId }} Ranking as of {{ line.rank.date | date }}
                    </ion-card-header>
                    <ion-card-content>
                        <h1 [style.color]="rankingColour(line.rank.rank)">{{ line.rank.rank }} / 10</h1>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
